In [14]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv

load_dotenv()

API_KEY = os.getenv("ALPHA_VANTAGE_API_KEY")

BASE_URL = "https://www.alphavantage.co/query"

params = {
    "function": "TIME_SERIES_DAILY",
    "symbol": "AAPL",
    "apikey": API_KEY
}

response = requests.get(BASE_URL, params=params)

In [15]:
data = response.json()
df = pd.DataFrame(data['Time Series (Daily)'])
df.head()
df.shape

(5, 100)

In [ ]:
df = df.T
df.shape
df.index.name = 'date'
df

             1. open   2. high    3. low  4. close 5. volume
date
2025-12-12  277.9000  279.2200  276.8200  278.2800  39532887
2025-12-11  279.0950  279.5900  273.8100  278.0300  33247986
2025-12-10  277.7500  279.7500  276.4400  278.7800  33038318
2025-12-09  278.1600  280.0300  276.9200  277.1800  31753410
2025-12-08  278.1300  279.6693  276.1500  277.8900  36406317
...              ...       ...       ...       ...       ...
2025-07-30  211.8950  212.3900  207.7200  209.0500  45512514
2025-07-29  214.1750  214.8100  210.8200  211.2700  51411723
2025-07-28  214.0300  214.8450  213.0600  214.0500  37858017
2025-07-25  214.7000  215.2400  213.4000  213.8800  40268781
2025-07-24  213.9000  215.6900  213.5300  213.7600  46022620

[100 rows x 5 columns]

In [18]:
df.columns = ["open", "high", "low", "close", "volume"]

In [24]:
df = df.reset_index()

In [ ]:
# df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    100 non-null    object
 1   open    100 non-null    object
 2   high    100 non-null    object
 3   low     100 non-null    object
 4   close   100 non-null    object
 5   volume  100 non-null    object
dtypes: object(6)
memory usage: 4.8+ KB

In [ ]:
df['date'] = pd.to_datetime(df['date'])